.tree-view {
    --tree-view-connector: 0.1rem dashed #6085A6;
    --tree-view-disclosure-background: #6085A6;
    --tree-view-disclosure-hover-background: #91b5cf;
    --tree-view-primary-color: #FFFFFF;
    --tree-view-secondary-color: #FFFFFF;
    --tree-view-content-border: 0.1rem solid #6085A6;
    --tree-view-content-background: #212227;
    --tree-view-content-selected-background: transparent linear-gradient(231deg, #D9E3EA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    --tree-view-content-hover-background: rgba(217, 227, 234, 0.5);
}

.tree-view,
.tree-view ul.tree-node-children {
    list-style: none;
    margin: 0.0rem;
    padding: 0;
}

.tree-view .tree-node-children-container {
    overflow: hidden;
}

.tree-view ul.tree-node-children {
    margin-left: 1.0rem;
}

.tree-view ul.tree-node-children-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.tree-view ul.tree-node-children-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
}

.tree-view ul.tree-node-children-exit {
    opacity: 1;
    transform: translateY(0);
}

.tree-view ul.tree-node-children-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 300ms;
}

.tree-view li.tree-node {
    display: flex;
    flex-direction: column;
    margin-top: 0.0rem;
    margin-left: 0.0rem;
}

.tree-view li.tree-node ul li{
    margin-left: 2.5rem;
    border-left: var(--tree-view-connector)
}

.tree-view li.tree-node.root {
    margin-left: 0.0rem;
}

.tree-view li.root.tree-node > .tree-node-children-container > ul > li {
    margin-left: 0rem;
}

.tree-view ul li.tree-node:last-child {
    border-left: none;
}

.tree-view ul li.tree-node > .tree-node-graphic:before {
    width: 2.5rem !important;
    transform: translateY(-50%);
    z-index: -1;
    border-bottom: var(--tree-view-connector);
    border-left: none;
    content: "";
    /*display: inline-block;*/
    /*margin-right: 0.0rem;*/
    /*vertical-align: top;*/
}

.tree-view ul li.tree-node:last-child > .tree-node-graphic:before {
    border-left: var(--tree-view-connector);
}

.tree-view .tree-node > .tree-node-graphic {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding-top: 1.0rem;
    align-items: stretch;
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-disclosure {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    align-self: stretch;
    background: var(--tree-view-disclosure-background);
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-disclosure > div > svg > * {
    fill: #212227;
    stroke: white;
    stroke-width: 0.1rem;
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-disclosure div {
    transform: rotate(-90deg);
    transition: transform 300ms;
}

.tree-view .tree-node.expanded > .tree-node-graphic > .tree-node-disclosure div {
    transform: rotate(0deg);
    transition: transform 300ms;
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-disclosure:hover {
    background: var(--tree-view-disclosure-hover-background);
    cursor: pointer;
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding: 0.5rem 1.0rem;
    background: var(--tree-view-content-background);
    border: var(--tree-view-content-border);
    cursor: pointer;
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-content:hover {
    background: var(--tree-view-content-hover-background);
}

.tree-view .tree-node.selected > .tree-node-graphic > .tree-node-content {
    background: var(--tree-view-content-selected-background);
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-content .title {
    font-size: 1.4rem;
    line-height: 2rem;
    /*font-size: 3.8rem;*/
    /*min-height: 3.8rem;*/
    color: var(--tree-view-primary-color);
}

.tree-view .tree-node > .tree-node-graphic > .tree-node-content .sub-title {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    height: 1.6rem;
    color: var(--tree-view-secondary-color);
}