.pockets-panel {
}

.pockets-panel .tree-node .tree-node-graphic .tree-node-content .action-bar {
    /*transform: translateX(100%);*/
    padding-left: 1rem;
    opacity: 0;
    display: flex;
    align-items: center;
}

.pockets-panel .tree-node.expanded > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node.no-children > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node .tree-node-graphic .tree-node-content:hover .action-bar {
    animation: fadeIn 0.1s forwards ease-in;
    animation-delay: 200ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content {
    padding: 0rem;
}

.pockets-panel .tree-view {
    --tree-view-connector: transparent;
}

.pockets-panel .tree-view li.tree-node ul li {
    margin-left: 0;
    margin-right: 0;
}

.pockets-panel .tree-view ul.tree-node-children {
    margin: 0 2rem;
}

.pockets-panel .tree-view ul li.tree-node > .tree-node-graphic:before {
    width: 0;
}

/*.pockets-panel .pocket-node.report {*/
/*    color: var(--pocket-node-report-color);*/
/*    background: var(--pocket-node-report-background);*/
/*    border: none;*/
/*    border-bottom: 6px solid var(--pocket-node-report-border-color);*/
/*}*/

/*.pockets-panel .pocket-node:hover.report {*/
/*    color: var(--pocket-node-report-hover-color);*/
/*    background: var(--pocket-node-report-hover-background);*/
/*    border: none;*/
/*    border-bottom: 6px solid var(--pocket-node-report-hover-border-color);*/
/*}*/

/*.pockets-panel .pocket-node.selected.report {*/
/*    color: var(--pocket-node-report-selected-color);*/
/*    background: var(--pocket-node-report-selected-background);*/
/*    border: none;*/
/*    border-bottom: 6px solid var(--pocket-node-report-selected-border-color);*/
/*}*/

/*.pockets-panel .tree-node-graphic > .tree-node-content {*/
/*    padding: 1rem;*/
/*}*/

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark {
    padding: 1rem;
    background: black;
    color: white;
    fill: white;
    --tree-view-primary-color: white;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .button {
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .button.selected {
    fill: cyan;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light {
    padding: 1rem;
    background: white;
    color: black;
    fill: black;
    --tree-view-primary-color: black;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light .button {
    background: transparent;
    fill: black
}

.pockets-panel .tree-node-graphic > .tree-node-content .pocket-node {
    color: var(--pocket-node-pocket-color);
    background: var(--pocket-node-pocket-background) !important;
    border: 0.1rem solid var(--pocket-node-pocket-border-color);
}

.pockets-panel .tree-node-graphic > .tree-node-content:hover .pocket-node {
    color: var(--pocket-node-pocket-hover-color);
    background: var(--pocket-node-pocket-hover-background);
    border: 0.1rem solid var(--pocket-node-pocket-hover-border-color);
}

/*.pockets-panel .pocket-node.selected.pocket {*/
/*    color: var(--pocket-node-pocket-selected-color);*/
/*    background: var(--pocket-node-pocket-selected-background);*/
/*    border: 1px solid var(--pocket-node-pocket-selected-border-color);*/
/*}*/

/*.pockets-panel .resource-node {*/
/*    color: var(--pocket-node-document-color);*/
/*    background: var(--pocket-node-document-background);*/
/*}*/

/*.pockets-panel .pocket-node:hover.document {*/
/*    color: var(--pocket-node-document-hover-color);*/
/*    background: var(--pocket-node-document-hover-background);*/
/*}*/

/*.pockets-panel .pocket-node.selected.document {*/
/*    color: var(--pocket-node-document-selected-color);*/
/*    background: var(--pocket-node-document-selected-background);*/
/*}*/

/*.pockets-panel .pocket-node .button {*/
/*    background: transparent;*/
/*}*/
