.word-cloud {
    /*min-width: 150rem;*/
    /*min-height: 72rem;*/
    min-height: 32.22rem;
    background: var(--stats-background);
}

.word-cloud.minimized {
    min-width: 0;
    min-height: 32.22rem;
}

.legend {
    color: var(--stats-color);
    min-width: 25.56rem;
}

.word-cloud .legend-title {
    color: var(--word-cloud-header-color);
}

.word-cloud tspan {
    font-family: var(--primary-font-family) !important;
}

.word-cloud tspan:hover {
    fill: var(--selected-color);
}
