#app-view {

}

.system-tools-panel {
    background: var(--system-tool-panel-background);
}

.auth-pending {

}

.auth-pending {
    /*background: var(--login-panel-background);*/
    color: var(--login-panel-color);
}

.auth-pending .text-advisory {
    font-size: 4rem;
    line-height: 4rem;
}

.auth-pending .button {
    min-width: 19rem;
    min-height: 4.6rem;
    font-size: 2.2rem;
    margin-top: 10rem !important;
}

.auth-pending .button.light {
    width: 11.8rem;
    min-height: 3.8rem;
    font-size: 1.8rem;
    margin-top: 0 !important;
}

.auth-pending .popup {
    background: var(--login-panel-popup-background);
}

.auth-pending .text-selected {
    font-size: 4rem;
    line-height: 4rem;
}

.auth-pending .combo-box {
    min-width: 13.8rem;
}

.auth-pending .login-grid {
    display: inline-grid;
    grid-template-rows:    repeat(4, 3.5rem);
    grid-template-columns: 10rem 33rem;
    grid-gap: 0 3rem;
    grid-auto-flow: column;
}

.auth-pending .text-edit {
    max-width: 18.8rem;
}

.auth-pending .register-grid {
    display: inline-grid;
    grid-template-rows:    repeat(6, 3.5rem);
    grid-template-columns: 10rem 33rem;
    grid-gap: 0 3rem;
    grid-auto-flow: column;
}

.auth-pending .admin {
    color: var(--login-panel-accent-color);
}
