.pockets-panel {
}

.pockets-panel .tree-node .tree-node-graphic .tree-node-content .action-bar {
    padding-left: 1rem;
    opacity: 0;
    display: flex;
    align-items: center;
}

.pockets-panel .tree-node > .tree-node-graphic > .tree-node-content .action-bar.open,
.pockets-panel .tree-node.expanded > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node.no-children > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node .tree-node-graphic .tree-node-content:hover .action-bar {
    animation: fadeIn 0.1s forwards ease-in;
    animation-delay: 200ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content {
    padding: 0;
}

.pockets-panel .tree-view {
    --tree-view-connector: transparent;
}

.pockets-panel .tree-view li.tree-node ul li {
    margin-left: 0;
    margin-right: 0;
}

.pockets-panel .tree-view ul.tree-node-children {
    margin: 0 2rem;
}

.pockets-panel .tree-view ul li.tree-node > .tree-node-graphic:before {
    width: 0;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header {
    padding: 1rem;
    background: var(--pocket-node-pocket-background);
    border: 0.1rem solid var(--pocket-node-pocket-background);
    --tree-view-primary-color: var(--pocket-node-pocket-color);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header:hover {
    background: var(--pocket-node-pocket-hover-background);
    border: 0.1rem solid var(--pocket-node-pocket-hover-border-color);
    --tree-view-primary-color: var(--pocket-node-pocket-hover-color);
}

.pockets-panel .tree-view .tree-node.expanded  > .tree-node-graphic > .tree-node-content > .dark .pocket-header {
    background: var(--pocket-node-pocket-selected-background);
    border: 0.1rem solid var(--pocket-node-pocket-selected-border-color);
    --tree-view-primary-color: var(--pocket-node-pocket-selected-color);
    font-weight: 400 !important;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content {
    border: none;
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content:hover {
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header .button {
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header .button.selected {
    fill: cyan;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light {
    padding: 1rem;
    background: var(--pocket-node-resource-background);
    --tree-view-primary-color: var(--pocket-node-resource-color);
}

.pockets-panel .tree-view .tree-node.expanded > .tree-node-graphic > .tree-node-content > .light {
    background: var(--pocket-node-resource-selected-background);
    --tree-view-primary-color: var(--pocket-node-resource-selected-color);
    font-weight: 700 !important;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light .button {
    background: transparent;
    fill: var(--pocket-node-resource-color);
}
