.pockets-panel {
}

.pockets-panel .tree-node .tree-node-graphic .tree-node-content .action-bar {
    /*padding-left: 1rem;*/
    opacity: 0;
    display: flex;
    align-items: center;
}

.pockets-panel .tree-node > .tree-node-graphic > .tree-node-content .action-bar.open,
.pockets-panel .tree-node.expanded > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node.selected > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node.no-children > .tree-node-graphic > .tree-node-content .action-bar,
.pockets-panel .tree-node .tree-node-graphic .tree-node-content:hover .action-bar {
    animation: fadeIn 0.1s forwards ease-in;
    animation-delay: 200ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pockets-panel .tree-view {
    --tree-view-connector: transparent;
}

.pockets-panel .tree-view li.tree-node ul li {
    margin-left: 0;
    margin-right: 0;
}

.pockets-panel .tree-view ul.tree-node-children {
    /*margin: 0 1rem;*/
}

.pockets-panel .tree-view ul li.tree-node > .tree-node-graphic:before {
    width: 0;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content {
    padding: 0;
    border: none;
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content:hover {
    background: transparent;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark {
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header {
    min-height: 5.61rem;
    padding: 1rem;
    background: var(--pocket-node-dark-background);
    /*border: 0.1rem solid var(--pocket-node-dark-border-color);*/
    --tree-view-primary-color: var(--pocket-node-dark-color);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header:hover {
    background: var(--pocket-node-dark-hover-background);
    /*border: 0.1rem solid var(--pocket-node-dark-hover-border-color);*/
    --tree-view-primary-color: var(--pocket-node-dark-hover-color);
}

.pockets-panel .tree-view .tree-node.expanded  > .tree-node-graphic > .tree-node-content > .dark .pocket-header,
.pockets-panel .tree-view .tree-node.selected  > .tree-node-graphic > .tree-node-content > .dark .pocket-header {
    background: var(--pocket-node-dark-selected-background);
    border: 0.1rem solid var(--pocket-node-dark-selected-border-color);
    --tree-view-primary-color: var(--pocket-node-dark-selected-color);
    font-weight: 400 !important;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header .button {
    fill: var(--pocket-node-dark-button-fill);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header .button:hover {
    fill: var(--pocket-node-dark-button-hover-fill);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .dark .pocket-header .button.selected {
    fill: var(--pocket-node-dark-button-selected-fill);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light {
    padding: 1rem;
    background: var(--pocket-node-light-background);
    --tree-view-primary-color: var(--pocket-node-light-color);
}

.pockets-panel .tree-view .tree-node:hover > .tree-node-graphic > .tree-node-content > .light {
    background: var(--pocket-node-light-hover-background);
    --tree-view-primary-color: var(--pocket-node-light-hover-color);
}

.pockets-panel .tree-view .tree-node.expanded > .tree-node-graphic > .tree-node-content > .light,
.pockets-panel .tree-view .tree-node.selected > .tree-node-graphic > .tree-node-content > .light {
    background: var(--pocket-node-light-selected-background);
    --tree-view-primary-color: var(--pocket-node-light-selected-color);
}

.pockets-panel .tree-view .tree-node.expanded > .tree-node-graphic > .tree-node-content > .resource-node,
.pockets-panel .tree-view .tree-node.selected > .tree-node-graphic > .tree-node-content > .resource-node,
.pockets-panel .tree-view .tree-node.expanded > .tree-node-graphic > .tree-node-content > .excerpt-node,
.pockets-panel .tree-view .tree-node.selected > .tree-node-graphic > .tree-node-content > .excerpt-node {
    font-weight: 700 !important;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .note-node {
    font-weight: 300 !important;
}

.pockets-panel .tree-view .tree-node.selected > .tree-node-graphic > .tree-node-content > .note-node {
    font-weight: 400 !important;
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light .button {
    fill: var(--pocket-node-light-button-fill);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .light .button:hover {
    fill: var(--pocket-node-light-button-hover-fill);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .report-node {

    border-bottom: 0.5rem solid var(--pocket-node-report-border-color);
}

.pockets-panel .tree-view .tree-node > .tree-node-graphic > .tree-node-content > .report-node .title {
    color: var(--pocket-node-report-color);
}

.pockets-panel .tree-node-children-container {
    /*background: rgba(234, 234, 234, 0.3);*/
}

.pockets-panel .banner {

}

.pockets-panel .banner .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.pockets-panel .banner .button {
    fill: var(--primary-color)
}
