#app-view {

}

.system-tools-panel {
    background: var(--system-tool-panel-background);
}

.custom-animation-in {
    animation: slidePanelIn 300ms 1 linear;
}

.custom-animation-out {
    animation: slidePanelOut 300ms 1 linear;
}

@keyframes slidePanelIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slidePanelOut {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
    from {
        transform: translateX(0);
        opacity: 1;
    }
}
